img {
    object-fit: contain;
    height: 80px;
    margin-top: 10px;
}

button {
    font-size: larger;
    background-color: brown;
}

#title {
    color: red;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Modak", system-ui;
    font-size: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black
    
}

body {
    background-color: green;
    background-image: url(woodtexture.jpg);
    background-size: 100% 1300px;
    background-repeat: no-repeat;
}

.numbers {
    background-color: brown;
    font-family: "Modak", system-ui;
    font-size: 60px;
    width: 100px;
    height: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black
    
    
    
}

.scoreboard {

    /* outline-width: 2px;
    outline-color: black;
    outline-style: solid; */
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    font-size: 30px;
    font-family: "Modak", system-ui;
    width: 90%;
    font-weight: 700;
    padding-bottom: 20px;
}

.scoreboarditem {

    outline-width: 2px;
    outline-color: black;
    outline-style: solid;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    font-size: 30px;
    font-family: "Modak", system-ui;
    width: 33%;
    font-weight: 700;
}

#players {
    padding-left: 0px;
    padding-right: 0px;
    outline-width: 2px;
    outline-color: black;
    outline-style: solid;
}

#diceroll {
    background-color: brown;
    font-size: 20px;
    outline-width: 2px;
    outline-color: black;
    outline-style: solid;
    font-family: "Modak", system-ui;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 90%;
}

#continuebutton {
    width: 200px;
    height: 50px;
    background-color: brown;
    padding: 5px;
    margin-top: 10px;
    outline-width: 2px;
    outline-color: black;
    outline-style: solid;
    font-size: 30px;
    font-family: "Modak", system-ui;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

#middlerow {
    padding: 20px 0px 20px 0px;
}

#colnumber {
    width: 123px !important;
}

#playersdiv {
    width: 90%;
}